<!--footer-->
<footer id="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8  col-xs-8 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">{{ site.quick_links[page.lang] }}</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="quick-info">
                            <li><a href="index.html"><i class="fa fa-circle"></i>{{ site.home[page.lang] }}</a></li>
                            <li><a href="#service"><i class="fa fa-circle"></i>{{ site.the_practice[page.lang] }}</a></li>
                            <li><a href="#contact"><i class="fa fa-circle"></i>{{ site.contact[page.lang] }}</a></li>
                            <li><a href="http://www.ordremk.fr/"><i class="fa fa-circle"></i>{{ site.mk_order[page.lang] }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 marb20">
                    <!--
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Nous suivre</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="social-icon">
                            <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                            <!-/-<li class="bgred"><i class="fa fa-google-plus"></i></li>
                            <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                            <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer-->

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.easing.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/custom.js"></script>

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-90715291-1', 'auto');
    ga('send', 'pageview');
</script>