<!--footer-->
<footer id="footer">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8  col-xs-8 marb20">
                    <div class="ftr-tle">
                        <h4 class="white no-padding">{{ site.quick_links[page.lang] }}</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="quick-info">
                            <li><a href="index.html"><i class="fa fa-circle"></i>{{ site.home[page.lang] }}</a></li>
                            <li><a href="#service"><i class="fa fa-circle"></i>{{ site.the_practice[page.lang] }}</a></li>
                            <li><a href="#contact"><i class="fa fa-circle"></i>{{ site.contact[page.lang] }}</a></li>
                            <li><a href="http://www.ordremk.fr/"><i class="fa fa-circle"></i>{{ site.mk_order[page.lang] }}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4 marb20">
                    <!--
                    <div class="ftr-tle">
                        <h4 class="white no-padding">Nous suivre</h4>
                    </div>
                    <div class="info-sec">
                        <ul class="social-icon">
                            <li class="bglight-blue"><i class="fa fa-facebook"></i></li>
                            <!-/-<li class="bgred"><i class="fa fa-google-plus"></i></li>
                            <li class="bgdark-blue"><i class="fa fa-linkedin"></i></li>
                            <li class="bglight-blue"><i class="fa fa-twitter"></i></li>
                    </ul>-->
                </div>
            </div>
        </div>
    </div>
    <div class="footer-line">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                </div>
            </div>
        </div>
    </div>
</footer>
<!--/ footer-->

<script async data-main="/js/main" src="/js/require.js"></script>
<!--
<script async src="/js/jquery.min.js"></script>
<script async src="/js/jquery.easing.min.js"></script>
<script async src="/js/bootstrap.min.js"></script>
<script async src="/js/custom.js"></script>
-->

