<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8  col-xs-8">
                <h4 class="p-0 text-white">{{ site.quick_links[page.lang] }}</h4>
                <ul class="quick-info">
                    <li>
                       <i class="bi bi-circle-fill" aria-hidden="true" style="color: #fff"></i> <a href="#banner">{{ site.home[page.lang] }}</a>
                    </li>
                    <li>
                        <i class="bi bi-circle-fill" aria-hidden="true" style="color: #fff"></i> <a href="#thepractice">{{ site.the_practice[page.lang] }}</a>
                    </li>
                    <li>
                        <i class="bi bi-circle-fill" aria-hidden="true" style="color: #fff"></i> <a href="#contact">{{ site.contact[page.lang] }}</a>
                    </li>
                    <li>
                        <i class="bi bi-circle-fill" aria-hidden="true" style="color: #fff"></i> <a href="http://www.ordremk.fr/">{{ site.mk_order[page.lang] }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script src="{{'/node_modules/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl}}" defer></script>
<script src="{{'/assets/js/custom.js' | prepend: site.baseurl}}" defer></script>