---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " fr " }}">
{% include head.html %}

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    {% include header.html %} {{ content }} {% include footer.html %}
</body>
</html>

<link rel="stylesheet" type="text/css" href="/assets/main.css">
<link rel="stylesheet" type="text/css" href="/assets/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">

